// Colors
$main-color: #004D40;
$main-color-light: #03b99b;
$bg-color-white: #fff;
$bg-color-light: #f7f7f7;
$title-color: #363636;
$text-color: #363636;
$white-text-color: #fff;
$dark-color: #2f2e41;
